* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 80px;
    background-color: #f9f9f9;
}

.header {
    width: 100%;
    max-width: 400px;
    background-color: #ff9900;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}

.header .back-btn {
    position: absolute;
    left: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.header .title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.mission-container {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: -20px;
    background-size: cover;
    background-position: center;
}

.Mission-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    gap: 8px;
    position: relative;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.Mission-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Mission-item h3 {
    font-size: 16px;
    font-weight: bold;
    color: #ff9900;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.mission-status {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

/* Warna hijau untuk status "Complete" */
.mission-status.completed {
    color: #28a745;
}

/* Warna merah untuk status "Pending" */
.mission-status.pending {
    color: #dc3545;
}

.Mission-item p {
    font-size: 14px;
    color: #000;
    margin: 0;
}

.mission-reward {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.point-badge {
    background-color: #ff9900;
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    border: none;
}
