* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 80px;
}

.header {
    width: 100%;
    max-width: 400px;
    background-color: #ff9900;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.header .title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.header .back-btn {
    position: absolute;
    left: 15px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}
.container {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    border-radius: 8px;
    padding: 16px;
}
.center {
    display: flex;
    justify-content: center;
}
.center img {
    width: 200px;
    height: 200px;
}
.title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}
.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
.input-group input {
    border: 1px solid #d1d5db;
    border-radius: 8px 0 0 8px;
    padding: 8px;
    width: 66%;
}
.input-group button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
.input-group .copy-btn {
    background-color: #e5e7eb;
    color: #374151;
    border-radius: 0 8px 8px 0;
}
.friends-list {
    margin-top: 16px;
}
.friends-list h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 5px;
}
.friends-list .friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}
.friends-list .friend-item .friend-info {
    display: flex;
    align-items: center;
}
.friends-list .friend-item .friend-info .avatar img {
    background-color: #ff9900;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.friends-list .friend-item .friend-info .details {
    margin-left: 16px;
}
.friends-list .friend-item .friend-info .details p {
    margin: 0;
}
.friends-list .friend-item .friend-info .details .name {
    font-weight: bold;
    font-size: 15px;
}
.friends-list .friend-item .friend-info .details .platform {
    color: #6b7280;
    font-size: 15px;
}
.friends-list .friend-item .point-btn {
    background-color: #ff9900;
    color: #ffffff;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}